@model TipsRundan.Web.Models.LoginView;

<form method="post">
    <label>Username: </label>
    <input type="text" asp-for="Username">
    <br>
    <label>Password: </label>
    <input type="password" asp-for="PasswordString">
    <button type="submit">Login</button>
</form>